.play .bg{
    width: 100vw;
    height: 100vh;
    background-color: 	MediumPurple;
    position: relative;
}
.play .bg .pan{
    width: 5.92rem;
    height: 5.92rem;
    position: absolute;
    top: 1.5rem;
    left: .75rem;
    background: url(../images/black.png) no-repeat;
    background-size: 5.92rem;
    z-index: 4;
}
.play .bg .bang{
    width: 2rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 1.66rem;
    background: url(../images/bang.png) no-repeat;
    background-size: 1.92rem 2.74rem;
    z-index: 5;
}
.play .bg img{
    width: 4rem;
    height: auto;
    position: absolute;
    left: 1.7rem;
    top: 2.45rem;
    border-radius: 50%;
    z-index: 3 !important;
}
.play .bg audio{
    position: absolute;
    bottom: .4rem;
    left: .7rem;
}
.play .bg .lyric{
    width: 5rem;
    height: .8rem;
    /* background-color: rosybrown; */
    position: absolute;
    left: 1.3rem;
    bottom: 4.5rem;
    text-align: center;
}
.play .bg .lyric h3{
    font: .3rem/.8rem '微软雅黑';
    color: #fff;
}
